@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    width: 100vw;
    height: 100vh;

    background-color: hsl(185, 75%, 39%);
    background-image:
        url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-size: 600px, 650px;
    background-position: top -279px left -420px, bottom -318px right -448px;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

main {
    width: 320px;
    height: 350px;

    background-color: white;
    background-image: url(images/bg-pattern-card.svg);
    background-size: 50vh;
    background-repeat: no-repeat;
    border-radius: 10px;
}